* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

.chart-container {
  height: 500px;
  /* border: 1px solid #333; */
  padding: 10px;
  margin-bottom: 26px;
  box-shadow: 5px 10px 7px #888888;
}

.geochart {
  color: #7a7d7b;
}

.geochartmap {
  width: 100% !important;
  height: 85% !important;
  margin: 50px 0;
}

.nav-tabs .nav-item a {
  color: #0d99d1;
  cursor: pointer;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

footer .container p {
  margin-bottom: 0;
}

@media (max-width: 500px) {
  .chart-container {
    height: 350px;
  }

  #chart-2 {
    height: 500px;
  }

  #chart-3 {
    height: 500px;
  }

  .geochart {
    font-size: 18px;
  }
}
