<!DOCTYPE html>
{% load static %} {% load humanize %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Covid-19 é um site que reúne dados sobre a pandemia de Covid-19 no Brasil e no mundo"
    />
    <meta
      name="keywords"
      content="pandemia, covid-19, sars-cov-2, coronavírus, brasil, mundo, casos, mortes"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="{% static 'img/apple-icon-57x57.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{% static 'img/apple-icon-60x60.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="{% static 'img/apple-icon-72x72.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="{% static 'img/apple-icon-76x76.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="{% static 'img/apple-icon-114x114.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="{% static 'img/apple-icon-120x120.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="{% static 'img/apple-icon-144x144.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="{% static 'img/apple-icon-152x152.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'img/apple-icon-180x180.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="{% static 'img/android-icon-192x192.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'img/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="{% static 'img/favicon-96x96.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'img/favicon-16x16.png' %}"
    />
    <link rel="manifest" href="{% static 'img/manifest.json' %}" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="{% static 'img/ms-icon-144x144.png' %}"
    />
    <meta name="theme-color" content="#ffffff" />
    <title>Covid-19 | {% block title %} {% endblock %}</title>
  </head>
  <body>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white mb-4">
      <div class="container">
        <a href="{% url 'index' %}" class="navbar-brand">
          <img
            src="{% static 'img/favicon-32x32.png' %}"
            alt="Imagem de um vírus"
          />
          Covid-19</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbar-content"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-content">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a
                href="{% url 'states' %}"
                class="nav-link {% if navbar == 'states' %} active {% endif %}"
                >Estados</a
              >
            </li>
            <li class="nav-item">
              <a
                href="{% url 'brazil' %}"
                class="nav-link {% if navbar == 'brazil' %} active {% endif %}"
                >Brasil</a
              >
            </li>
            <li class="nav-item">
              <a
                href="{% url 'world' %}"
                class="nav-link {% if navbar == 'world' %} active {% endif %}"
                >Mundo</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      {% block content %} {% endblock %}
    </div>
    <footer class="footer bg-dark text-white">
      <div class="container">
        <p>Criado por Thiago Dias</p>
      </div>
    </footer>
  </body>
</html>
